{% extends "base.html.twig" %}

{% block body %}
	<div class="container margin-container">
		<h1>
			{% if editMode %}
				Product update
			{% else %}
				Product creation
			{% endif %}
		</h1>
		{{form_start(formProduct)}}
		{{form_row(formProduct.name,{'attr' : {'placeholder' : "Product name"}})}}
		{{form_row(formProduct.description,{'attr' : {'placeholder' : "Product description"}})}}
		{{form_row(formProduct.image,{'attr' : {'placeholder' : "Product image url"}})}}
		{{form_row(formProduct.price,{'attr' : {'placeholder' : "Product price"}})}}
		{{form_row(formProduct.discountedPrice,{'attr' : {'placeholder' : "Product discounted price"}})}}
		{{form_row(formProduct.category)}}
		<button type="submit" class="btn btn-success">
			{% if editMode %}
				Save
			{% else %}
				Add to shop
			{% endif %}
		</button>
		{{form_end(formProduct)}}


		<div id='app'>
			{% verbatim %}
				<p>{{ message }}</p>
				<p>
				{% endverbatim %}
				<input v-model="message">
			</div>
		</div>


	{% endblock %}
