{% extends "base.html.twig" %}
{% block body %}
	<div class="container margin-container">
		<div class="row">
			{% for product in products %}
				<div class="col-md-4">
					<figure class="card card-product">
						<div class="img-wrap"><img class="img-fluid" src={{product.image}}></div>
						<figcaption class="info-wrap min-height">
							<a href="{{path('shop_show', {'id':product.id})}}">
								<h4 class="title">{{product.name}}</h4>
							</a>
							<h4 class="font-weight-light">{{product.category.title}}</h4>
							<p class="desc text-truncate">{{product.description}}</p>
						</figcaption>
						<div class="bottom-wrap">
							<a href="{{path('shop_show', {'id':product.id})}}" class="btn btn-sm btn-primary float-right">Details</a>
							<div class="price-wrap h5">
								<span class="price-new">${{product.discountedPrice}}</span>
								<del class="price-old">${{product.price}}</del>
							</div>
							<!-- price-wrap.// -->
						</div>
						<!-- bottom-wrap.// -->
					</figure>
				</div>
				<!-- col // -->

			{% endfor %}
		</div>
		<!-- row.// -->


	</div>
	<!--container.//-->

{% endblock %}
